* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  min-height: 100vh;
  overflow: hidden;
  background: linear-gradient(135deg, #ffd6e7, #ffeef5, #fff7fb);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: bgMove 8s ease infinite;
  background-size: 400% 400%;
}

@keyframes bgMove {
  0% {
    background-position: left;
  }

  50% {
    background-position: right;
  }

  100% {
    background-position: left;
  }
}

.container {
  width: 90%;
  max-width: 650px;
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(18px);
  border-radius: 35px;
  padding: 60px 40px;
  text-align: center;
  box-shadow: 0 25px 60px rgba(255, 105, 180, 0.2);
  animation: fadeUp 1.2s ease;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.title {
  font-size: 58px;
  color: #ff4f8b;
  margin-bottom: 20px;
  font-weight: bold;
}

.subtitle {
  font-size: 25px;
  color: #555;
  margin-bottom: 45px;
  line-height: 1.6;
}

button {
  border: none;
  background: linear-gradient(45deg, #ff4f8b, #ff77aa);
  color: white;
  font-size: 24px;
  padding: 18px 50px;
  border-radius: 999px;
  cursor: pointer;
  transition: 0.35s;
  box-shadow: 0 15px 35px rgba(255, 105, 180, 0.35);
}

button:hover {
  transform: scale(1.08);
  box-shadow: 0 20px 45px rgba(255, 105, 180, 0.5);
}